header{
    display: flexbox;
    display: flex;
    border: solid rgb(238, 230, 230);
    width: 98%;
}
article{
    display: flex;
    border: solid rgb(238, 230, 230);
    height: 35rem;
    width: 57%;
    position: relative;
}
/* aside{
    padding-left: 75%;
    padding-bottom: 40px;
} */
footer{
    display: flexbox;
    display: flex;
    border: solid rgb(238, 230, 230);
    text-align: center;
    width: 98%;
}
aside {
    width: 30%;
    padding-left: 5px;
    margin-left: 20px;
    float: right;
    border: solid rgb(238, 230, 230);
    height: 35rem;
    width: 40%;
    border-width: 96%;
    position:relative;
    right: 24px;
    
  }

