header{
    display: flexbox;
    display: flex;
    border: solid rgb(238, 230, 230);
    width: 98%;
    background-color: blue;
    color: bisque;
    text-transform: uppercase;
    text-indent:35rem ;
}
article{
    display: flex;
    border: solid rgb(238, 230, 230);
    height: 35rem;
    width: 57%;
    position: relative;
}

footer{
    display: flexbox;
    display: flex;
    border: solid rgb(238, 230, 230);
    text-align: center;
    width: 98%;
    text-indent: 35rem;
    background-color: burlywood;
}
aside {
    width: 30%;
    padding-left: 5px;
    margin-left: 20px;
    float: right;
    border: solid rgb(238, 230, 230);
    height: 35rem;
    width: 40%;
    border-width: 96%;
    position:relative;
    right: 24px;
    
  }

